@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Black.woff2");
  font-weight: 900;
}
